* {
  margin: 0;
  padding: 0;
  min-width: 0;
  font: inherit;

  &:hover {
    transition: all ease-in-out 300ms;
  }
}

body {
  min-height: 100dvh;
  background: $light;
}

header {
  overflow: hidden;
}

.content,
.container {
  width: 70vw;
  max-width: 1300px;
  margin: auto;
}

.columns {
  display: flex;
  gap: 70px;
}

*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  color: $dark-gray;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;

  &::before,
  &::after {
    cursor: pointer;
  }
}

.cta {
  background-color: $primary-color;
  border-radius: 30px;
  padding: 10px 30px;
  color: $light;
  text-decoration: none;
  position: relative;
  z-index: 0;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  display: inline-block;
  margin: auto;
  overflow: hidden;

  &::before {
    background-color: $hover;
    content: "";
    position: absolute;
    margin-top: -10px;
    margin-left: -70px;
    height: 100%;
    width: 40px;
    transform-origin: left;
    transition: width ease-in-out 300ms;
    z-index: -1;
    border-radius: 30px;
  }

  &:hover {
    &::before {
      width: calc(100% + 40px);
      transition: width ease-in-out 300ms;
      transform-origin: right;
    }
  }
}

.cta-border {
  background-color: $light;
  border: 1px solid $primary-color;
  color: $dark-gray;
  font-size: 1rem;

  &::before {
    background-color: $primary-color;
    border-radius: 30px;
    content: "";
    color: $light;
  }

  &:hover {
    color: $light;
  }
}

.cta-border + .cta-border {
  margin-left: 30px;
}

.cta-blue {
  background-color: $secondary-color;
  color: $light;

  &::before {
    background-color: $hover-blue;
    content: "";
  }
}

.nav {
  font-size: 0.7rem;
}

.col-g,
.col-d {
  width: 50%;
}

.separator {
  height: 50px;
  border-radius: 3px;
  width: 3px;
  background-color: $primary-color;
  margin: auto;
  margin-top: 10s0px;
}

.oblic_line {
  margin: 150px auto;
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    height: 1px;
    background-color: $primary-color;
    width: 200px;
    transform: rotate(-60deg);
  }
}

#scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #b52b43;
  border-radius: 30px;
  color: #fff;
  height: 50px;
  width: 50px;
  padding: 0;
  z-index: 999;
  transition: all ease-in 300ms;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    height: 25px;
    position: relative;
    animation: up-and-down 5s ease-in-out infinite;
  }
}

/* Formulaire */

form {
  padding-top: 100px;
  margin: auto;

  .form_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 0px;
  }

  ul {
    list-style: none;

    li {
      margin-bottom: 20px;

      input,
      textarea,
      select {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        border: none;
        border-bottom: 1px solid $middle-gray;
        min-height: 50px;
        background: none;
      }

      input[type="radio"] {
        min-height: 10px;
      }

      input[type="submit"] {
        min-width: auto;
        width: 250px;
        margin: auto;
        border: none;
      }
    }

    .liSubmit p {
      text-align: center;
      margin-top: 80px;
    }

    .cta-border {
      margin-left: 30px;
      font-size: 0.9rem;
      padding: 5px 25px;
    }
  }

  .wpcf7-acceptance{
    input{
      height: 0;
      width: fit-content;
    }

    .wpcf7-list-item-label{
      color : $light;
    }
  }
}
