footer {
  background-color: $secondary-color;
  .container {
    .footer-top {
      display: flex;
      justify-content: space-around;
      border-bottom: 1px solid $dark-gray;
      padding-top: 80px;

      .col {
        width: calc((100% - 100px) / 4);
        padding-bottom: 50px;
        img {
          width: 80px;
          margin: auto;
        }

        h4 {
          color: $primary-color;
          font-size: 0.8rem;
          text-transform: uppercase;
          font-weight: 700;
          letter-spacing: 1px;
        }

        ul {
          list-style: none;
          li {
            margin-bottom: 0;
            line-height: 1.2rem;
            text-align: left;
            a {
              font-size: 0.8rem;
              letter-spacing: 1px;

              &:hover {
                color: $primary-color;
              }
            }
          }
        }
      }

      .col + .col {
        padding-left: 20px;
      }

      .col_1 {
        a {
          &::before {
            content: ">";
            margin-right: 10px;
            color: $primary-color;
            font-weight: 500;
          }
        }
      }

      .col_2,
      .col_3 {
        border-left: 1px solid $dark-gray;
      }

      .rs_footer {
        width: 100px;

        a {
          width: 30px;
          height: 30px;
          display: block;
          padding-top: 10px;

          img {
            width: 30px;
          }
        }
      }
    }
  }

  .footer_middle {
    text-align: center;
    padding: 30px 0;
    width: 70vw;
    margin: auto;
    .keywords {
      p {
        color: $primary-color;
        font-size: 0.6rem;
        font-weight: 800;
        line-height: 0.9rem;
        margin-right: 10px;
        text-align: center;
      }
    }
  }

  .footer_bottom {
    background-color: $dark-dark-gray;

    .container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 25px 0;

      a {
        font-weight: 300;
        letter-spacing: 3px;
        font-size: 0.7rem;
      }

      p {
        color: $light;
        font-size: 0.7rem;
        letter-spacing: 3px;
        margin: 0;
        line-height: 1.2rem;
        text-align: center;

        strong {
          color: #7a7b82;
        }

        a {
          color: $primary-color;
          font-weight: 600;
        }
      }
    }

    .mobile {
      display: none;
    }
  }
}
