.header {
  background: none;
  position: absolute;
  top: 40px;
  left: 5vw;
  width: 90vw;
  z-index: 10;
  display: flex;
  justify-content: space-between;

  .col-g {
    width: 30%;

    .logo {
      max-width: 350px;
    }
  }

  .col-d {
    width: 70%;
    .secondary-navigation {
      display: flex;
      justify-content: flex-end;

      .menu-top-header_menu-container ul {
        display: flex;
        list-style: none;

        li {
          text-transform: uppercase;
          font-family: "Sofia";
          letter-spacing: 10px;
          font-weight: 300;
          font-size: 0.7rem;
        }

        li + li::before {
          content: "•";
          color: $primary-color;
          padding: 30px;
        }
      }
    }
  }

  .primary-navigation {
    margin-top: 20px;

    #menu-navigation-principale {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      gap: 50px;

      li {
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 0.9rem;
        padding-top: 10px;
      }

      .cta {
        border-radius: 0;
        &::after {
          content: ">";
          height: 30px;
          color: $light;
        }
      }

      .menu-item-has-children {
        .sub-menu {
          display: none;
        }

        &:hover {
          .sub-menu {
            display: block;
            position: relative;
            background-color: $light;
            border-bottom: 2px solid $primary-color;

            li {
              color: $primary-color;
              list-style: none;
              width: 100%;
              display: block;
              padding: 5px 10px;

              a {
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}
