.aboutsolutions {
  .container {
    .grid {
      top: 150px !important;
      height: 350px !important;
    }
  }
}

#assurance_nos {
  .container {
    padding: 100px;
    padding-bottom: 300px;
    border-bottom: 1px solid $middle-gray;
  }
}
