#my-interactive-image{
    width:100%;
    max-width: 930px;
    height:700px;
    margin:auto;
    margin-top: -150px;

    .hotspot{
        display: block!important;
        color: $primary-color;
        animation : pulse ease-in 300ms infinite;
    }
}

#result-account-manager{
    h2{
        color:$secondary-color;
    }

    .description{
        padding-left: 25%;
    }
    .am-content{
        padding-left: 25%;
        margin-top: 60px;        

        p{
            color:$primary-color;
            font-size: .9rem;
        }
    }
}

#grayBack{
    background-color: $light-gray;
    padding:1px;
}