#my-interactive-image,
#my-interactive-image-tablet
#my-interactive-image-mobile{
    width:100%;
    max-width: 930px;
    height:700px;
    margin:auto;
    margin-top: -150px;

    .hotspot{
        display: block!important;
        color: $primary-color;
        animation : pulse ease-in 300ms infinite;
    }

    .item{
        display: none !important;
    }
}

#my-interactive-image-mobile,
#my-interactive-image-tablet{
    display: none;
}

#result-account-manager{
    padding-bottom: 100px;

    h2{
        color:$secondary-color;
    }

    .description{
        padding-left: 25%;
    }
    .am-content{
        padding-left: 25%;
        margin: 60px auto;        

        p,a{
            color:$primary-color;
            font-size: .9rem;
            font-weight: 600;
        }
    }

    .card{
        display: none;
    }
}

#grayBack{
    background-color: $light-gray;
    padding:1px;

    .oblic_line{
        margin: 100px auto;
    }

    .cta-border{
        background: none;
    }
}