#my-interactive-image{
    width:100%;
    max-width: 930px;
    height:700px;
    margin:auto;
    margin-top: -150px;

    .hotspot{
        display: block!important;
        color: $primary-color;
        animation : pulse ease-in 300ms infinite;
    }
}