.page-template-simple-page,
.page-template-simple-jobs {
  #simple-page,
  #section_bleue,
  #outro {
    .container {
      .content_service{
        border: none;

        .document_ddl{
          padding: 50px 30px;
        }

        form{
          padding-top: 0;
        }
      }
      .colg {
        position: relative;
        z-index: 10;

        .intro {
          margin-top: 100px;
          h2 {
            text-transform: uppercase;
            color: $primary-color;
            font-size: 1rem;
            letter-spacing: 10px;
            font-weight: 400;
          }

          h1 {
            font-size: 3rem;
            color: $secondary-color;
            font-weight: 300;
            line-height: 3.5rem;
          }
        }

        &::before {
          content: "";
          width: 50px;
          height: 5px;
          display: block;
          position: absolute;
          background: $primary-color;
          top: -2.5px;
          left: 0;
        }
      }
      .cold {
        padding: 100px 0 100px 20%;

        h2 {
          font-size: 1rem;
          color: $primary-color;
          letter-spacing: 8px;
          text-transform: uppercase;
          font-weight: 600;
          line-height: 1.5rem;
          margin-bottom: 20px;

          &::before {
            content: "→";
          }
        }

        a {
          color: $secondary-color;
          font-weight: 600;
        }

        form{
          .wpcf7-acceptance{
            .wpcf7-list-item{
              margin-left: 0;
              
              .wpcf7-list-item-label{
                color: $secondary-color;
              }
            }
          }
        }

        .intro,
        .par_cta {
          ul {
            border-left: 5px solid $primary-color;
            padding-left: 20px;

            li {
              margin-left: 20px;
              margin-bottom: 20px;

              ul {
                border-left: none;
                padding-left: 5px;

                li {
                  margin-bottom: 5px;
                }
              }
            }
          }

          a {
            color: $secondary-color;
          }

          .cta-blue {
            color: $light !important;
            border-radius: 20px;
            font-size: 0.8rem;
            margin: 60px 0 30px;
          }
        }

        .cta {
          color: $light;
          font-weight: 200;
          font-size: 0.8rem;
          margin: 30px 0;
          display: inline-block;
        }
      }
    }
  }

  #presa_jobs{
    .container{
      border-top: 1px solid $middle-gray;
      padding-top: 50px;

      .content_service{
        border: none;

        .document_ddl{
          padding: 50px 30px;
        }
      }
    }
  }

  #section_bleue {
    background-color: $secondary-color;

    .container {
      .cold {
        ul {
          border-left: 5px solid $primary-color;
          padding-left: 20px;

          li {
            margin-left: 20px;
            margin-bottom: 20px;

            ul {
              border-left: none;
              padding-left: 5px;

              li {
                margin-bottom: 5px;
              }
            }
          }
        }
        p,
        li {
          color: $light;
        }
        a {
          color: $light !important;
          text-decoration: none;
        }

        form{
          ul{
            border: none;
            
            li{
              input, 
              textarea{
                color: $light;
                
                &::placeholder{
                  color: $light;
                }
              }

              input[type="checkbox"]{
                min-width: 15px;
                min-height: 15px;
                width: 15px;
                margin-right: 20px;
                margin-top: 5px;
              }
            }
          }

          .wpcf7-acceptance{
            .wpcf7-list-item{
              margin-left: 0 !important;
                
              .wpcf7-list-item-label{
                color: $light;
              }
            }
          }
        }
      }
    }
  }

  #disclaimer_banner {
    padding-top: 0px;
    min-height: 350px;
  }

  #confiance {
    padding-bottom: 150px;
  }
}
