.single {
  #simple-page,
  #section_bleue,
  #outro {
    .container {
      .colg {
        position: relative;
        z-index: 10;

        .intro {
          margin-top: 100px;
          h2 {
            text-transform: uppercase;
            color: $primary-color;
            font-size: 1rem;
            letter-spacing: 10px;
            font-weight: 400;
          }

          h1 {
            font-size: 3rem;
            color: $secondary-color;
            font-weight: 300;
            line-height: 3.5rem;
          }
        }

        &::before {
          content: "";
          width: 50px;
          height: 5px;
          display: block;
          background: $primary-color;
          margin: -2.5px 0 50px 0;
        }
      }
      .cold {
        padding: 100px 0 100px 20%;

        h2 {
          font-size: 1rem;
          color: $primary-color;
          letter-spacing: 8px;
          text-transform: uppercase;
          font-weight: 600;

          &::before {
            content: "→";
          }
        }

        a {
          color: $secondary-color;
          font-weight: 600;
        }

        .intro,
        .par_cta {
          &::after {
            content: "";
            width: 50px;
            height: 5px;
            display: block;
            background: $primary-color;
            margin: 50px 0;
          }

          ul {
            border-left: 5px solid $primary-color;
            padding-left: 20px;

            li {
              margin-left: 20px;
              margin-bottom: 20px;

              ul {
                border-left: none;
                padding-left: 5px;
              }
            }
          }
          a {
            color: $secondary-color;
          }
        }

        .cta {
          color: $light;
          font-weight: 200;
          font-size: 0.8rem;
          margin: 30px 0;
          display: inline-block;
        }
      }

      .swiper-article{
        height: 555px;

        .swiper-wrapper{
          height: 555px;

          .swiper-slide{
            max-height: 555px;

            a{
              height: 555px;

              img{
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }
          }
        }

        .swiper-button-next,
        .swiper-button-prev{
          position: absolute;
          right: 0;
          bottom: 0;
          top: auto;
          left: auto;
          text-align: center;
          height: 50px;
          width: 50px;

          &::after{
            font-size: 1.5rem;
          }
        }

        .swiper-button-next{
          background-color: $primary-color;
          color: $light;
        }

        .swiper-button-prev{
          background-color: $light;
          color: $primary-color;
          right: 50px;
        }
      }

      .swiper-thumbs-article{
        margin-top: 20px;

        .swiper-wrapper{
          .swiper-slide{
            max-height: 150px;
            overflow: hidden;

            img{
              height: 100%;
              width: 100%;
              object-fit: contain;
              transform: scale(1);
              transition: all ease-in 300ms;
            }

            &:hover{
              img{
                transform: scale(1.1);
              }
            }
          }
        }
      }
    }
  }

  #section_bleue {
    background-color: $secondary-color;
    padding-bottom: 30px;

    .container {
      .cold {
        ul {
          border-left: 5px solid $primary-color;
          padding-left: 20px;

          li {
            margin-left: 20px;
            margin-bottom: 20px;

            ul {
              border-left: none;
              padding-left: 5px;
              border: none;

              li {
                margin-bottom: 0;
              }
            }
          }
        }

        p,
        li {
          color: $light;
        }
        a {
          color: $light !important;
          text-decoration: none;
        }
      }
    }
  }

  #confiance {
    padding-bottom: 150px;
  }
}
