#section-cta-contact {
  color: $light;
  background: $light-gray;
  padding-top: 300px;
  height: 400px;

  .container {
    display: flex;
    align-items: flex-start;
    padding: 50px;
    width: 60vw;
    margin: auto;

    .bloc_img,
    .content_section-cta {
      width: 55%;
      max-width: 660px;
      max-height: 550px;
      position: relative;
      background: $primary-color;
    }

    .bloc_img {
      z-index: 2;
      overflow: hidden;
      margin-top: -100px;

      img {
        height: 100%;
      }
    }

    .content_section-cta {
      max-width: 340px;
      padding: 50px 80px;
      z-index: 0;
      margin-left: -5%;

      h3 {
        font-size: 2rem;
        font-weight: 300;
        line-height: 2.3rem;
      }

      p {
        color: $light;
        margin: 50px auto;
        font-size: 0.9rem;
      }
    }
  }
}
