.section_vosp {
  text-align: center;
  margin-bottom: 150px;
  h2 {
    color: $primary-color;

    strong {
      color: $dark-gray;
      font-weight: 800;
    }
  }

  .balls {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    background-color: $primary-color;
    display: block;
    margin: 30px auto 20px auto;
  }

  .list-btn {
    max-width: 80%;
    margin: auto;

    a {
      margin: 10px;
      line-height: 3.5rem;
    }
  }

  h3 {
    color: $primary-color;
    letter-spacing: 15px;
    font-size: 1rem;
  }
}
