#contact {
  padding: 100px 0;
  .container {
    text-align: center;
    width: 70vw;

    .subtitle {
      color: $primary-color;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-weight: 500;
    }

    h2 {
      color: $secondary-color;
      font-weight: 200;

      strong {
        font-weight: 700;
      }
    }

    form {
      padding-top: 100px;
      margin: auto;

      .form_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 50px;
        grid-row-gap: 0px;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 20px;

          input,
          textarea,
          select {
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            border: none;
            border-bottom: 1px solid $middle-gray;
            min-height: 50px;
            background: none;
          }

          input[type="radio"] {
            min-height: 10px;
          }

          input[type="submit"] {
            min-width: auto;
            width: 250px;
            margin: auto;
            border: none;
          }

          option {
            color: $light-gray;
          }
        }

        .liSubmit p {
          text-align: center;
          margin-top: 80px;
        }

        .cta-border {
          margin-left: 30px;
          font-size: 0.7rem;
          padding: 5px 25px;
        }
      }
    }
  }
}
